{% extends 'html_base/base.html' %}
{% block main %}
    <div class="form">

      <form method="post" class="form__container">
        {% csrf_token %}
        <h1 class="form__title">Вход в личный кабинет</h1>
        <p class="form__error">{{ error }}</p>
        <label for="id_username">Логин:</label>
        <input class="form__input" type="text" name="username" placeholder="Логин" required>
        <label for="id_password">Пароль:</label>
        <input class="form__input" type="password" name="password" placeholder="Пароль" id="id_password" required>
        <button class="form__button-submit" type="submit">Войти</button>
        <a href="{% url 'register' %}">Зарегистрироваться?</a>
      </form>

    </div>

{% endblock %}