{% extends 'html_base/index.html' %}
{% load static %}
{% block products %}

<section class="cards">

  {% for nb in notebook %}
    <article class="card">
      <img src="{% static nb.photo_path %}" class="card__image">
      <h2 class="card__title">{{ nb.brand }} {{ nb.model }}</h2>
      <div class="card__description">
        <p class="card__key">Диагональ экрана: </p>
        <p class="card__value">{{ nb.diag }}</p>
      </div>
      <div class="card__description">
        <p class="card__key">Процессор: </p>
        <p class="card__value">{{ nb.processor }}</p>
      </div>
      <div class="card__description">
        <p class="card__key">Оперативная память: </p>
        <p class="card__value">{{ nb.memory }}</p>
      </div>
      <div class="card__description">
        <p class="card__key">Тип накопителя: </p>
        <p class="card__value">{{ nb.disk_type }}</p>
      </div>
      <div class="card__description">
        <p class="card__key">Объём накопителя: </p>
        <p class="card__value">{{ nb.disk_volume }}</p>
      </div>
      <div class="card__description">
        <p class="card__key">Цена: </p>
        <p class="card__value">{{ nb.price }}</p>
      </div>
      {% if nb.articl in orders %}
        <div class="card__form"><a href="{% url 'card' %}"><button class="card__button card__button_already">В корзине</button></a></div>
      {% else %}
        <form method="post" class="card__form">
          <input type="hidden" value="{{ nb.articl }}" name="article">
          <button type="submit" class="card__button">Добавить в корзину</button>
        </form>
      {% endif %}

    </article>
  {% endfor %}

</section>
{% endblock %}