.products__button{
    border: none;
    background: linear-gradient(#120fc8, #b303c8);
    text-align: center;
    font-family: 'Book Antiqua', sans-serif;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

.products__button:hover{
    box-shadow: 2px 2px 4px rgba(92, 91, 91, 0.45);
}